<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<title>ACNModa - Cadastro de Confecções</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<style>
		body
			{ 	padding-top:80px; 		
  				background: url(images/imagem-login.jpg) no-repeat center center fixed; 
  				-webkit-background-size: cover;
  				-moz-background-size: cover;
  				-o-background-size: cover;
  				background-size: cover;
			}
	</style>
</head>
<body>
	<div class="container">

		<div class="jumbotron text-center">
			<img src="images/logo.png"width="40%">
				<br>
			<br>
	        <h2>Bem-Vindo ao sistema de cadastro de clientes da ACNModas</h2>
			<br>

			<br>
			<!-- <p>Entre ou se registre aqui:</p> -->

			<a href="/login" class="btn btn-success btn-lg"><span class="fa fa-sign-in"></span> Entre</a>
			<a href="/signup" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Cadastre-se</a>
	 	</div>

	</div>
</body>
</html>