<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<title>MeanCRUDnOAUTH</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<style>
		body
			{ 	padding-top:80px; 		
  				background: url(images/imagem-login.jpg) no-repeat center center fixed; 
  				-webkit-background-size: cover;
  				-moz-background-size: cover;
  				-o-background-size: cover;
  				background-size: cover;
  				color: #fff;
			}
	</style>
</head>
<body>
<div class="container">

			<div class="row text-center"> 

				<div class="col-sm-offset-3 col-md-6"> 	
				    <div class="text-center">
						<img src="images/logo.png"width="80%">
				    </div>
				</div> 	

 			</div>

<br>
<!-- <br>
<br>
 -->
<div class="col-sm-6 col-sm-offset-3 text-center" >
		<br>
		<br>
        <h2>Welcome to an authenticated complete CRUD System with the MEAN Platform</h2>
		<br>

		<br>

		<a href="/login" class="btn btn-success btn-lg"><span class="fa fa-sign-in"></span> Sign In</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
		<a href="/signup" class="btn btn-warning btn-lg"><span class="fa fa-user"></span> Sign Up</a>
 	</div>

</div>
</body>
</html>
